.Title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
}

.ColorTitle {
  color: #890808;
}

.SubTitle {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorSubTitlePrimary {
  color: #fffefe;
}

.colorSubTitleSecondary {
  color: #716b65;
}
